#show_sketch
{
  margin-top: 4;
  margin-right: 5;
  float:right;
}

body{
  background-color: yellow;
  color: red;
}

h1{
  background-color: white;
}

p{
  padding-top: 10px;
  font-size: 25px;
}

canvas{
  border: 5px solid white;
  border-radius: 20;
  animation-name: example;
  animation-duration: 10s;
  margin-top: 120px;
  animation-iteration-count: infinite;

}

  @keyframes example {
    from{box-shadow: 1px 1px 40px red;}
    25%{box-shadow: 1px 1px 40px orange;}
    50%{box-shadow: 1px 1px 20px green;}
    75%{box-shadow: 1px 1px 40px blue;}
    to{box-shadow: 1px 1px 20px purple;}
}
}